<a href="https://colab.research.google.com/github/Souleymane-coulibaly/Data-Collection-and-AWS/blob/master/01_Practice_SQL_Alchemy_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise: practice SQLAlchemy ðŸ§ª

Let's configure our first RDS instance on AWS and then use SQLAlchemy to write into our remote database and make some SQL queries!

1. Follow the instructions/videos from yesterday (M03-D03/04-Amazon-RDS.ipynb) to create your own RDS instance on AWS 
2. Download <a href="https://www.pgadmin.org/download/" target="_blank">PGAdmin</a> and configure it to access your remote database

If you get stuck at some step, don't hesitate to ask for help to your classmates, your teacher or your TA ðŸ¤—.

**Before continuing, please execute the cell below, this will install a package that is required to access your remote database from this notebook:**

In [ ]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.8.6-cp37-cp37m-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.6

3. Create an sqlalchemy engine that is connected to your AWS RDS instance

In [ ]:
from sqlalchemy import create_engine
engine=create_engine("postgresql+psycopg2://postgres:yaloyalo70@database18022023.c1mydz3mlhij.us-east-1.rds.amazonaws.com/postgres", echo=True)

4. Create a new table named `customers` in your remote database and insert the following data :

| id | name       | country        | job        | age |
|----|------------|----------------|------------|-----|
| 1  | Sauerkraut | Germany        | engineer   | 37  |
| 2  | Jones      | United Kingdom | journalist | 52  |
| 3  | Dupont     | France         | dancer     | 25  |

Optionnal: Use PGAdmin to check that the table has been created without any mistake

In [ ]:
# Create table here
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
meta=MetaData()
customers= Table(
    "customers", meta,
    Column("id",Integer, primary_key=True),
    Column("name", String),
    Column("country", String),
    Column("job", String),
    Column("age", Integer),
)
meta.create_all(engine)

2023-02-18 13:26:43,586 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-02-18 13:26:43,594 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s

INFO:sqlalchemy.engine.Engine:select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s

2023-02-18 13:26:43,598 INFO sqlalchemy.engine.Engine [cached since 42.59s ago] {'name': 'customers'}

INFO:sqlalchemy.engine.Engine:[cached since 42.59s ago] {'name': 'customers'}

2023-02-18 13:26:43,640 INFO sqlalchemy.engine.Engine
CREATE TABLE customers (
	id SERIAL NOT NULL,
	name VARCHAR,
	country VARCHAR,
	job VARCHAR,
	age INTEGER,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE customers (
	id SERIAL NOT NULL,
	name VARCHAR,
	country VARCHAR,
	job VARCHAR,
	age INTEGER,
	PRIMARY KEY (id)
)

2023-02-18 13:26:43,642 INFO sqlalchemy.engine.Engine [no key 0.00214s] {}

INFO:sqlalchemy.engine.Engine:[no key 0.00214s] {}

2023-02-18 13:26:43,718 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [ ]:
con=engine.connect()
#res=con.execute()

In [ ]:
# Create instances of User
con=engine.connect()
#res=con.execute()
#res

# Initialize a sessionmaker

# Instanciate Session 


# Add values to db 

customers_values=[
    {"id":1, "name":"Dupont", "country": "France", "job":"Teacher", "age": 25},
    {"id":2, "name":"Delaforet", "country": "France", "job":"Teacher", "age": 60},
    {"id":3, "name":"Ausoleil", "country": "France", "job":"Teacher", "age": 40}
    ]
con.execute(customers.insert(),customers_values)

#con.execute(customers.insert(),customers_values)

# Commit the results

2023-02-18 14:49:31,529 INFO sqlalchemy.engine.Engine INSERT INTO customers (id, name, country, job, age) VALUES (%(id)s, %(name)s, %(country)s, %(job)s, %(age)s)

INFO:sqlalchemy.engine.Engine:INSERT INTO customers (id, name, country, job, age) VALUES (%(id)s, %(name)s, %(country)s, %(job)s, %(age)s)

2023-02-18 14:49:31,536 INFO sqlalchemy.engine.Engine [generated in 0.00821s] ({'id': 1, 'name': 'Dupont', 'country': 'France', 'job': 'Teacher', 'age': 25}, {'id': 2, 'name': 'Delaforet', 'country': 'France', 'job': 'Teacher', 'age': 60}, {'id': 3, 'name': 'Ausoleil', 'country': 'France', 'job': 'Teacher', 'age': 40})

INFO:sqlalchemy.engine.Engine:[generated in 0.00821s] ({'id': 1, 'name': 'Dupont', 'country': 'France', 'job': 'Teacher', 'age': 25}, {'id': 2, 'name': 'Delaforet', 'country': 'France', 'job': 'Teacher', 'age': 60}, {'id': 3, 'name': 'Ausoleil', 'country': 'France', 'job': 'Teacher', 'age': 40})

2023-02-18 14:49:31,585 INFO sqlalchemy.engine.Engine COMMIT

<ipython-input-18-9336496c12a4>:18: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  con.execute(customers.insert(),customers_values)
INFO:sqlalchemy.engine.Engine:COMMIT

5. Execute the cell below to download the famous iris dataset:

In [ ]:
import plotly.express as px
dataset = px.data.iris()
dataset.head()

   sepal_length  sepal_width  petal_length  petal_width species  species_id
0           5.1          3.5           1.4          0.2  setosa           1
1           4.9          3.0           1.4          0.2  setosa           1
2           4.7          3.2           1.3          0.2  setosa           1
3           4.6          3.1           1.5          0.2  setosa           1
4           5.0          3.6           1.4          0.2  setosa           1

6. Create a table in your remote database containing the information of the dataset:

In [ ]:
dataset.to_sql("iris",engine)

2023-02-18 14:55:13,142 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s

INFO:sqlalchemy.engine.Engine:select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s

2023-02-18 14:55:13,148 INFO sqlalchemy.engine.Engine [cached since 5352s ago] {'name': 'iris'}

INFO:sqlalchemy.engine.Engine:[cached since 5352s ago] {'name': 'iris'}

2023-02-18 14:55:13,213 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-02-18 14:55:13,219 INFO sqlalchemy.engine.Engine
CREATE TABLE iris (
	index BIGINT,
	sepal_length FLOAT(53),
	sepal_width FLOAT(53),
	petal_length FLOAT(53),
	petal_width FLOAT(53),
	species TEXT,
	species_id BIGINT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE iris (
	index BIGINT,
	sepal_length FLOAT(53),
	sepal_width FLOAT(53),
	petal_length FLOAT(53),
	petal_width FLOAT(53),
	species TEXT,
	species_id BIGINT
)

2023-02-18 14:55:13,222 INFO sqlalchemy.engine.Engine [no key 0.00293s] {}

INFO:sqlalchemy.engine.Engine:[no key 0.00293s] {}

2023-02-18 14:55:13,271 INFO sqlalchemy.engine.Engine CREATE INDEX ix_iris_index ON iris (index)

INFO:sqlalchemy.engine.Engine:CREATE INDEX ix_iris_index ON iris (index)

2023-02-18 14:55:13,275 INFO sqlalchemy.engine.Engine [no key 0.00393s] {}

INFO:sqlalchemy.engine.Engine:[no key 0.00393s] {}

2023-02-18 14:55:13,300 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2023-02-18 14:55:13,325 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-02-18 14:55:13,330 INFO sqlalchemy.engine.Engine INSERT INTO iris (index, sepal_length, sepal_width, petal_length, petal_width, species, species_id) VALUES (%(index)s, %(sepal_length)s, %(sepal_width)s, %(petal_length)s, %(petal_width)s, %(species)s, %(species_id)s)

INFO:sqlalchemy.engine.Engine:INSERT INTO iris (index, sepal_length, sepal_width, petal_length, petal_width, species, species_id) VALUES (%(index)s, %(sepal_length)s, %(sepal_width)s, %(petal_length)s, %(petal_width)s, %(species)s, %(species_id)s)

2023-02-18 14:55:13,333 INFO sqlalchemy.engine.Engine [generated in 0.00433s] ({'index': 0, 'sepal_length': 5.1, 'sepal_width': 3.5, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa', 'species_id': 1}, {'index': 1, 'sepal_length': 4.9, 'sepal_width': 3.0, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa', 'species_id': 1}, {'index': 2, 'sepal_length': 4.7, 'sepal_width': 3.2, 'petal_length': 1.3, 'petal_width': 0.2, 'species': 'setosa', 'species_id': 1}, {'index': 3, 'sepal_length': 4.6, 'sepal_width': 3.1, 'petal_length': 1.5, 'petal_width': 0.2, 'species': 'setosa', 'species_id': 1}, {'index': 4, 'sepal_length': 5.0, 'sepal_width': 3.6, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa', 'species_id': 1}, {'index': 5, 'sepal_length': 5.4, 'sepal_width': 3.9, 'petal_length': 1.7, 'petal_width': 0.4, 'species': 'setosa', 'species_id': 1}, {'index': 6, 'sepal_length': 4.6, 'sepal_width': 3.4, 'petal_length': 1.4, 'petal_width': 0.3, 'species': 'setosa', 'species_id': 1}, {'index': 7, 'sepal_length': 5.0, 'sepal_width': 3.4, 'petal_length': 1.5, 'petal_width': 0.2, 'species': 'setosa', 'species_id': 1}  ... displaying 10 of 150 total bound parameter sets ...  {'index': 148, 'sepal_length': 6.2, 'sepal_width': 3.4, 'petal_length': 5.4, 'petal_width': 2.3, 'species': 'virginica', 'species_id': 3}, {'index': 149, 'sepal_length': 5.9, 'sepal_width': 3.0, 'petal_length': 5.1, 'petal_width': 1.8, 'species': 'virginica', 'species_id': 3})

INFO:sqlalchemy.engine.Engine:[generated in 0.00433s] ({'index': 0, 'sepal_length': 5.1, 'sepal_width': 3.5, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa', 'species_id': 1}, {'index': 1, 'sepal_length': 4.9, 'sepal_width': 3.0, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa', 'species_id': 1}, {'index': 2, 'sepal_length': 4.7, 'sepal_width': 3.2, 'petal_length': 1.3, 'petal_width': 0.2, 'species': 'setosa', 'species_id': 1}, {'index': 3, 'sepal_length': 4.6, 'sepal_width': 3.1, 'petal_length': 1.5, 'petal_width': 0.2, 'species': 'setosa', 'species_id': 1}, {'index': 4, 'sepal_length': 5.0, 'sepal_width': 3.6, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa', 'species_id': 1}, {'index': 5, 'sepal_length': 5.4, 'sepal_width': 3.9, 'petal_length': 1.7, 'petal_width': 0.4, 'species': 'setosa', 'species_id': 1}, {'index': 6, 'sepal_length': 4.6, 'sepal_width': 3.4, 'petal_length': 1.4, 'petal_width': 0.3, 'species': 'setosa', 'species_id': 1}, {'index': 7, 'sepal_length': 5.0, 'sepal_width': 3.4, 'petal_length': 1.5, 'petal_width': 0.2, 'species': 'setosa', 'species_id': 1}  ... displaying 10 of 150 total bound parameter sets ...  {'index': 148, 'sepal_length': 6.2, 'sepal_width': 3.4, 'petal_length': 5.4, 'petal_width': 2.3, 'species': 'virginica', 'species_id': 3}, {'index': 149, 'sepal_length': 5.9, 'sepal_width': 3.0, 'petal_length': 5.1, 'petal_width': 1.8, 'species': 'virginica', 'species_id': 3})

2023-02-18 14:55:13,380 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2023-02-18 13:26:43,586 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-02-18 13:26:43,594 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s

INFO:sqlalchemy.engine.Engine:select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s

2023-02-18 13:26:43,598 INFO sqlalchemy.engine.Engine [cached since 42.59s ago] {'name': 'customers'}

INFO:sqlalchemy.engine.Engine:[cached since 42.59s ago] {'name': 'customers'}

2023-02-18 13:26:43,640 INFO sqlalchemy.engine.Engine
CREATE TABLE customers (
	id SERIAL NOT NULL,
	name VARCHAR,
	country VARCHAR,
	job VARCHAR,
	age INTEGER,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE customers (
	id SERIAL NOT NULL,
	name VARCHAR,
	country VARCHAR,
	job VARCHAR,
	age INTEGER,
	PRIMARY KEY (id)
)

2023-02-18 13:26:43,642 INFO sqlalchemy.engine.Engine [no key 0.00214s] {}

INFO:sqlalchemy.engine.Engine:[no key 0.00214s] {}

2023-02-18 13:26:43,718 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

### Now let's make some SQL requests !

To answer the following questions, don't hesitate to refer to <a href="https://www.sqltutorial.org/sql-cheat-sheet/" target="_blank">this cheatsheet</a>. ðŸ˜‰

7. What are the different species present in this dataset?

In [ ]:
from sqlalchemy.sql import text

In [ ]:
rq1=text( "SELECT DISTINCT species from iris")
con.execute(rq1).fetchall()

2023-02-18 15:02:35,079 INFO sqlalchemy.engine.Engine SELECT DISTINCT species from iris

INFO:sqlalchemy.engine.Engine:SELECT DISTINCT species from iris

2023-02-18 15:02:35,083 INFO sqlalchemy.engine.Engine [cached since 38.38s ago] {}

INFO:sqlalchemy.engine.Engine:[cached since 38.38s ago] {}

[('virginica',), ('versicolor',), ('setosa',)]

8. What is the average sepal length among all species?

In [ ]:
rq2=text("select avg(sepal_length) as Average_Lenght from iris")
con.execute(rq2).fetchall()

2023-02-18 15:03:40,383 INFO sqlalchemy.engine.Engine select avg(sepal_length) as Average_Lenght from iris

INFO:sqlalchemy.engine.Engine:select avg(sepal_length) as Average_Lenght from iris

2023-02-18 15:03:40,391 INFO sqlalchemy.engine.Engine [generated in 0.00747s] {}

INFO:sqlalchemy.engine.Engine:[generated in 0.00747s] {}

[(5.843333333333335,)]

9. What is the average sepal length for each species?

In [ ]:
rq3=text("select avg(sepal_length) as Average_Lenght \
from iris \
Group by species")
con.execute(rq3).fetchall()

2023-02-18 15:06:08,846 INFO sqlalchemy.engine.Engine select avg(sepal_length) as Average_Lenght from iris Group by species

INFO:sqlalchemy.engine.Engine:select avg(sepal_length) as Average_Lenght from iris Group by species

2023-02-18 15:06:08,851 INFO sqlalchemy.engine.Engine [generated in 0.00495s] {}

INFO:sqlalchemy.engine.Engine:[generated in 0.00495s] {}

[(6.587999999999998,), (5.936,), (5.005999999999999,)]

10. How many samples of 'virginica' have sepal length < 6?

In [ ]:
rq4=text("Select count(*) \
from iris \
where (species='virginica' and sepal_length<6)"
)
con.execute(rq4).fetchall()

2023-02-18 15:12:34,943 INFO sqlalchemy.engine.Engine Select count(*) from iris where (species='virginica' and sepal_length<6)

INFO:sqlalchemy.engine.Engine:Select count(*) from iris where (species='virginica' and sepal_length<6)

2023-02-18 15:12:34,947 INFO sqlalchemy.engine.Engine [generated in 0.00425s] {}

INFO:sqlalchemy.engine.Engine:[generated in 0.00425s] {}

[(7,)]

11. For each species, count the number of samples having sepal length < 6:

In [ ]:
rq5=text("Select species, count(*) \
from iris \
where sepal_length<6 \
group by species"
)
con.execute(rq5).fetchall()

2023-02-18 15:14:19,516 INFO sqlalchemy.engine.Engine Select species, count(*) from iris where sepal_length<6 group by species

INFO:sqlalchemy.engine.Engine:Select species, count(*) from iris where sepal_length<6 group by species

2023-02-18 15:14:19,521 INFO sqlalchemy.engine.Engine [generated in 0.00478s] {}

INFO:sqlalchemy.engine.Engine:[generated in 0.00478s] {}

[('virginica', 7), ('versicolor', 26), ('setosa', 50)]